*{
    box-sizing: border-box;
}

:root{
    --padding-sidebar: 15px;
    --padding-header: 10px;
    --padding-main: 15px;

    --accent-color: #EF233C;
    --dark-color: #2B2D42;
    --light-color: #EDF2F4;
    --mid-color: #ccd4e0;

    --avatar-color: color-mix(in hsl, white, var(--accent-color));

    --text-color: #222;

    color: var(--text-color);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding:0;
}


li{
    list-style-type: none;
}

.container{
    height: 100vh;
    height: 100svh;

    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.placeholder-img{
    width: 10px;
    aspect-ratio: 1;
    /* background-color: #777; */
}

.my-avatar{
    width: 70%;
    min-width: 25px;
    align-self: center;
    justify-self: center;
    background-color: var(--avatar-color);
    border: 2px solid var(--dark-color);
    border-radius: 50%;
}

header{
    grid-column: 2 / -1;

    /* background: rgb(0, 64, 153); */
    background: var(--light-color);
    padding: 20px 50px;
    

    display: grid;
    gap: var(--padding-header);
    /* grid-template-rows: min-content min-content;  */
    

    /* padding: 10px 40px; */
}

#header-top{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

#header-dock{
    display:grid;
    grid-template-columns: 1fr 1fr minmax(max-content, 2fr);
    align-items: center;
    gap:5px;

    > #notification-icon{
        width: 50%;
        min-width: 25px;
        justify-self: center;
    }
}

#search-bar{
    width:60%;
    background-color: var(--mid-color);
    border: 0.25px solid var(--mid-color);
    border-radius: 10px;
    padding: 5px 15px;
}

#search-button{
    background-color: var(--light-color);
    color: var(--text-color);
    border: 2px solid var(--mid-color);
    outline: none;
    padding: 5px;
    cursor: pointer;
}

#header-bottom{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#header-welcome{
    display:flex;
    align-items: center;
    gap: 15px;

    .placeholder-img{
        width: 30px;
    }
}

#header-actions{
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 5px;

    > button{
        width: clamp(80px, 80%, 200px);
        font-size: 0.9rem;
        border-radius:20px;
        border: none;
        padding: 10px 10px;
        background-color: var(--dark-color);
        color: var(--light-color);
        cursor: pointer;

        
    }
    > button:hover{
        background-color: color-mix(in hsl, gray, var(--accent-color));
    }

}

#welcome-message{
    font-size: 1.2rem;
    > span { 
        font-size: 0.9rem;
    }
}


#sidebar{
    grid-row: 1 / -1;

    padding: var(--padding-sidebar);
}

.side-item{

    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: var(--padding-sidebar);
    margin-bottom: calc(3*var(--padding-sidebar));
}

#sidebar svg.side-link-icon{
    /* height:100%; */
    justify-self: end;
    fill: var(--light-color);
    width: 20px; 
    height: auto;
}

#logo{
    width: 40px !important;
}

#brand {
    #brand-name{
        margin:0;
        padding:0;
    }

    .placeholder-img{
        scale: 2;
    }
}

main{
    background: var(--mid-color);
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: calc(1.5*var(--padding-main)) var(--padding-main) var(--padding-main) var(--padding-main);
    gap: var(--padding-main);

}

.projects .cards{

    display: grid;

    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;/*This works for making the rows all equal height, and fills the screen, which I prefer to aspect-ratio*/
    gap: var(--padding-main);
}

main > aside{

    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: min-content min-content;
    /*PROUD OF MYSELF FOR COMING UP WITH THIS MIN-CONTENT FIX*/

    gap:15px;

    /* background-color: rgb(108, 144, 144); */
}

.announcement-card, .trending-card{
    height: 250px;
}


.announcement-card{

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    align-content: center;
    justify-content: center;
}

.announcement{
    border-top: solid 1px var(--mid-color);
    padding: 10px 0;
}

.announcement:first-of-type{
    border-top: none;
    padding-top: 0;
}

.announcement-title{
    margin:0;
    padding: 0;
}

.announcement p{
    margin:0;
    padding: 0;
    font-size: 0.8rem;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.trend{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 18px;

    .placeholder-img{
        height: 90%;
        width: auto;
        aspect-ratio: 1;

        > img{
            width: 100%;
        }

    }

    .trend-info{
        font-size: 0.8rem;

        :first-child {
            font-weight: 600;
            font-size: 0.85rem;
        }
    }
}

.trend *{
    margin:0;
    padding: 0;
}

.trending-card{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));   
}

.shadow{
    box-shadow: 0px 5px 6px 0 #999;
}

.card{
    background-color: var(--light-color);
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 20px 10px;
    overflow: hidden;
}

.projects .card{
    border-left: 5px solid #EF233C;/* #34f;*/

    > p {
        margin-top: 5px;
        font-size: 0.9rem;
    }
}

.projects .card:hover{
    transition: border-left-color 0.2s, transform 0.2s;
    transform: translate(4px, -4px);
    border-left-color: color-mix(in hsl, var(--dark-color), var(--mid-color));
}

aside .card{
    padding-left: 20px;
    padding-right: 20px;
}


.dark{
    background: var(--dark-color);
    color:var(--light-color);

    font-weight: 600;
}

.dark a:link, .dark a:visited{
    color:var(--light-color);
    text-decoration: none;
}


main h3{
    margin-bottom: 10px;
}


#search-bar:focus{
    border: 0.25px solid var(--accent-color);
    box-shadow: 0 2px 6px 0 #ccc;
    outline: none;
}

/*remove search clear button*/
input[type = 'search']::-webkit-search-cancel-button{
	-webkit-appearance: none;
}

.avatar{
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--avatar-color);
}