
:root{
    --padding-sidebar: 15px;
}


li{
    list-style-type: none;
}

.container{
    min-height: 100vh;
    min-height: 100dvh;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.container >*{
    border: 2px solid #444;
}

header{
    grid-column: 2 / -1;
    background: #123;
}

#sidebar{
    grid-row: 1 / -1;
    background: #456;

    padding: var(--padding-sidebar);
}

.side-item{

    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: var(--padding-sidebar);
    margin-bottom: calc(3*var(--padding-sidebar));
}

.placeholder-img{
    height:100%;
    aspect-ratio: 1;

    background-color: white;
    justify-self: end;
}

#brand #brand-name{
    margin:0;
    padding:0;
}

main{
    background: #abc;
}

